# Predicting Failure of Space Shuttle Challenger

There were 24 launches prior to the fateful Challenger disaster. For one of the flights, motors were lost at the sea. So motor failure data was available for each of the six O-rings for each of the 23 flights. The data on the temperature and pressure information for these launches is also available.

**Key Question:** What are the chances of a catastrophic O-ring failure if the Space Shuttle is launched at 31 degrees Fahrenheit?

In [2]:
import pandas as pd
import statsmodels.api as sm

In [5]:
orings = pd.read_csv('orings.csv')
orings.head()

  Flight       Date  Field  Temp  Pres
0      1  4/12/1981    0.0    66    50
1      1  4/12/1981    0.0    66    50
2      1  4/12/1981    0.0    66    50
3      1  4/12/1981    0.0    66    50
4      1  4/12/1981    0.0    66    50

In [6]:
orings.isnull().sum()

Flight    0
Date      0
Field     6
Temp      0
Pres      0
dtype: int64

In [7]:
orings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 5 columns):
Flight    144 non-null object
Date      144 non-null object
Field     138 non-null float64
Temp      144 non-null int64
Pres      144 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 5.7+ KB

In [8]:
orings.Field.describe()

count    138.000000
mean       0.072464
std        0.260199
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: Field, dtype: float64

In [ ]:
glm = sm.GLM()